NetTestClient/NetTestClient/Service References/WCF/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NetTestModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NetTestModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="uName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="uPass" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserClass" nillable="true" type="tns:UserClass" />
  <xs:complexType name="TestClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="tAnswer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tTitle" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TestClass" nillable="true" type="tns:TestClass" />
</xs:schema>